* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #EDEEF0;
}

#header {
    float: left;
    width: 100%;
    height: 42px;
    background-color: #4B77A8;
}

#text1 {
    font-family: Arial;
    font-size: 0.82em;
    color: White;
    position: absolute;
    top: 13px;
    left: 210px;
}

#img {
    height: 33px;
    width: 33px;
    position: absolute;
    top: 4px;
    left: 171px;
}

#text2 {
    width: 150px;
    float: left;
    font-family: Arial;
    font-size: 0.8em;
    color: White;
    position: absolute;
    top: 13px;
    right: 160px;
    text-decoration: none;
}

#reg {
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 200px;
    background-color: white;
    border: 0.5px solid silver;
    position: absolute;
    top: 10%;
    right: calc(50% - 200px);
    border-radius: 3px;
}

#pass, #tel {
    padding: 8px;
    width: 250px;
    height: 20px;
    border: 1px solid silver;
    margin: 10px;
    border-radius: 2px;
    margin-left: 60px;
}

#tel {
    margin-top: 30px;
}

#signin,#forgetpass {
    float: left;
    padding: 8px;
    width: 250px;
    height: 20px;
    margin-top: 10px;
    margin-left: 60px;
}

#signin {
    background-color:  #4B77A8;
    color: white;
    font-family: Arial;
    font-size: 0.9em;
    width: 20%;
    border-radius: 4px;
    text-decoration: none;
    height: 33px;
}
#signin:hover {
    background-color: #5e80a6;
    color: white;
    font-family: Arial;
    font-size: 0.9em;
    width: 20%;
    border-radius: 4px;
    text-decoration: none;
    height: 33px;
}

#forgetpass {
    width: 150px;
    font-family: Arial;
    color: #4B77A8;
    font-size: 0.9em;
    text-decoration: none;
}
}
#forgetpass:hover {
    width: 150px;
    font-family: Arial;
    color: #4B77A8;
    font-size: 0.9em;
    text-decoration: underline;
}
